
body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	background: url("https://i.imgsafe.org/t/caed64d.jpg");
	-webkit-animation: clouds 30s linear infinite;
	        animation: clouds 30s linear infinite;
}

/*Animacion de las nubes*/
@-webkit-keyframes clouds {
  from { background-position: 0 0; }
  to { background-position: 200% 0; }
}

@keyframes clouds {
  from { background-position: 0 0; }
  to { background-position: 200% 0; }
}

#mundo {
	position: fixed;
	bottom: 0;
	width: 100%;
}

#coche {
	margin: 10% auto -25px;
	position: absolute;
	z-index: 3;
  left: 500px;
  bottom: 60px;
	width: 300px;
	-webkit-animation: car 15s infinite;
	        animation: car 15s infinite;
}

/*Animacion para el coche en funcionamiento*/
@-webkit-keyframes car {
 50% { -webkit-transform: translateX(10%); }
 70% { -webkit-transform: translateX(-20%); }
 100% { -webkit-transform: translateX(0%); }
}

@keyframes car {
 50% { transform: translateX(10%); }
 70% { transform: translateX(-20%); }
 100% { transform: translateX(0%); }
}

#coche img {
  width: 100%;
  -webkit-animation: suspension 1s infinite;
					animation: suspension 1s infinite;
}

/*Animacion para crear la suspension del coche*/
@-webkit-keyframes suspension {
	0% { -webkit-transform: translateY(1px); }
	50% { -webkit-transform: translateY(3px); }
	100% { -webkit-transform: translateY(1px); }
}

@keyframes suspension {
	0% { transform: translateY(1px); }
	50% { transform: translateY(3px); }
	100% { transform: translateY(1px); }
}

#rueda1 {
	background: url("https://i.imgsafe.org/t/ce046ee.png") no-repeat center center;
	background-size: 99% auto;
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 46px;
	bottom: 2px;
	z-index: 4;
	-webkit-animation: giro 1s linear infinite;
					animation: giro 1s linear infinite;
 }

 #rueda2 {
	background: url("https://i.imgsafe.org/t/ce046ee.png") no-repeat center center;
 	background-size: 99% auto;
 	display: block;
 	width: 50px;
 	height: 50px;
 	position: absolute;
 	right: 48.8px;
 	bottom: 2px;
	z-index: 4;
	-webkit-animation: giro 1s linear infinite;
					animation: giro 1s linear infinite;
 }
  /*Animacion para el grio de las ruedas*/
  @-webkit-keyframes giro {
 	 from { -webkit-transform: rotate(0deg); }
 	 to { -webkit-transform: rotate(-360deg); }
  }

  @keyframes giro {
 	 from { -webkit-transform: rotate(0deg); }
 	 to { -webkit-transform: rotate(-360deg); }
  }

 #arbol {
   width: 250px;
   height: 300px;
   position: absolute;
	 z-index: 1;
   bottom: 15px;
	 left: 10px;
   -webkit-animation: tree 20s linear infinite;
 	      	 animation: tree 20s linear infinite;
 }
 /*Animacion del arbol*/
 @-webkit-keyframes tree {
   from { left: 0; }
   to { left: 200%; }
 }

 @keyframes tree {
   from { left: 0; }
   to { left: 200%; }
 }

#suelo {
	border-top: 25px solid #333;
	height: 30px;
	background-color: green;
	background-size: 200px auto;
	position: relative;;
	z-index: 2;
	-webkit-animation: road 2s linear infinite;
	        animation: road 2s linear infinite;
}

 /*Animacion para la carretera*/
@-webkit-keyframes road {
	from { background-position: 0 0; }
	to { background-position: 200% 0; }
}

@keyframes road {
	from { background-position: 0 0; }
	to { background-position: 200% 0; }
}
