body {
  background: black;
}

/* Formato del slider */
.slider {
  max-width: 640px;    /* Tamaño (máximo) de ancho de las imágenes */
  margin: auto;
}

h2 {
  color: #fff;
  position: absolute;
  top: 550px;
  width: 100%;
  z-index: 1;
}
/* Dos background para añadir transparencia a la caja del texto */
h2 span {
  color: white;
  font: bold 24px;
  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

/* Contenedor del acordeón */
[data-accordion] {
  border: 1px solid #888;
  margin: 30px;
  cursor: pointer;
  
}
[data-control] {
  background: #CCC;
  padding: 5px;  
}

/* Decoración */
.accordion [data-control]::before {
  content: '⊞ ';
  color: #888;
}
.accordion.open [data-control]::before {
  content: '⊟ ';
  color: #444;
}

/* Mensaje en pantalla */
/* Ventana modal */
#modal-card {
  border: 1px solid #888;
  margin: 2px auto;
  width: 400px;
  padding: 25px;
  box-shadow: 2px 2px 10px RGBA(0,0,0, .5);
  background: #FFF;
  text-align: center;
  display: none;
}

/* Fondo gris */
.modal-background {
  background: RGBA(0,0,0, .5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -5;
}